body {
    background-color: rgb(25, 225, 195);
    /* Use a system font, if none are available use an available sans-sarif */
    font-family: 'Courier New', Courier, monospace, sans-serif;
    margin: 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #0de1c5;
    margin: 20% auto; /* 20% from the top and centered */
    padding: 40px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    border-radius: 30px;
}
  
#modal-title {
    text-align: center;
    font-size: 42px;
}
  
#calcifer-img {
    display: block;
    margin: auto;
}

.close {
    color: #010000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.button {
    text-align: center;
    padding: 12px 26px;
    background-color: rgb(195, 250, 245);
    color:rgb(25, 225, 195);
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}

.modal-buttons {
    display: flex;
    margin: 12px;
}

#modal-buttons-left {
    flex: 1;
}

#modal-buttons-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

#play {
    font-size: 26px;
    border-radius: 16px;
}

#main-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-panel {
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
}

.panel-padding {
    margin: 20px;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 16px;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: repeat(6, 120px);
}

.sqr {
    height: calc(100px);
    width: 100px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.scoreboard-board-list {
    flex: 0 1 80px;
    border: 3px solid rgb(6, 44, 44);
    border-radius: 15px;
    padding: 10px;
    height: 100%;
}

#scoreboard-title {
    padding: 0 20px
}

.table-row {
    display: flex;
}

.won {
    color: green;
}

.lost {
    color: red;
}

.table-row-cell {
    flex: 0 0 50%;
}

#game-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;   
}

.flip-card {
    background-color: transparent;
    width: 80px;
    height: 120px;
    perspective: 1000px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.rotate .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.282' height='40' patternTransform='scale(1) rotate(130)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(32.8, 89.89999999999999%, 64.9%, 1)'/><path d='M34.641-20v80m34.64-40L0-20m69.282 80L0 20m69.282 0L0 60m69.282-80L0 20m69.282-40v80M0-20v80M34.64 40l11.547-20m11.547 20l11.547 20M34.641 40h23.094m11.547-20L57.735 40M46.188 20L34.641 40l11.547 20h23.094L80.83 40 69.282 20H46.188zM34.641 40l11.547-20m11.547 20l11.547 20M34.641 40h23.094m11.547-20L57.735 40M46.188 20L34.641 40l11.547 20h23.094L80.83 40 69.282 20H46.188zM34.641 0l11.547-20M57.735 0l11.547 20M34.642 0h23.093m11.547-20L57.735 0M46.188-20L34.641 0l11.547 20h23.094L80.83 0 69.282-20H46.188zM34.641 40L23.094 20M11.547 40L0 60m34.64-20H11.548M0 20l11.547 20m11.547-20l11.547 20-11.547 20H0l-11.547-20L0 20h23.094zM34.641 0L23.094-20M11.547 0L0 20M34.64 0H11.548M0-20L11.547 0m11.547-20L34.641 0 23.094 20H0L-11.547 0 0-20h23.094z'  stroke-width='6' stroke='hsla(174.4, 100%, 29.4%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-25,-4)' fill='url(%23a)'/></svg>");
    background-position: center center;
    background-size: cover;
}

.flip-card-front-image {
    width: 80px;
}
  
.flip-card-back {
    transform: rotateY(180deg);
}
