:root {
    --text-primary: #0D7365;
    --text-main: #010000;
    --background: #19e1c3;
    --button-background: #c3faf5;
    --overlay: #00000066;
    --overlay-fallback: #000000;
    --orange: #F6AD55;
    --card-background: #f6f6f6;
    --won: #249608;
    --lost: #9c0b0b;
}

body {
    background-color: var(--background);
    /* Use a system font, if none are available use an available sans-sarif */
    font-family: 'Courier New', Courier, monospace, sans-serif;
    margin: 0;
    color: var(--text-main);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--overlay-fallback); /* Fallback color */
    background-color: var(--overlay); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: var(--background);
    margin: 120px auto; /* 20% from the top and centered */
    padding: 40px;
    width: 70%; /* Could be more or less, depending on screen size */
    border-radius: 30px;
}
  
#modal-title {
    text-align: center;
    font-size: 42px;
}
  
#calcifer-img {
    display: block;
    margin: auto;
}

.close {
    color: var(--text-main);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.button {
    text-align: center;
    padding: 12px 26px;
    background-color: var(--button-background);
    color: var(--text-primary);
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}

.modal-buttons {
    display: flex;
    margin: 12px;
}

#modal-buttons-left {
    flex: 1;
}

#modal-buttons-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

#play {
    font-size: 26px;
    border-radius: 16px;
}

#main-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-panel {
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
}

#timer {
    border: 3px solid var(--text-primary);
    border-radius: 16px;
    padding: 10px;
    margin: 30px;
}

#moves {
    margin: 100px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 90px;
}
#moves:before,
#moves:after {
    position: absolute;
    z-index: -1;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: var(--orange);
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#moves:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}


.panel-padding {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.left-panel-padding {
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 16px;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: repeat(6, 135px);
    margin: 60px;
}

.sqr {
    height: calc(100px);
    width: 100px;
    border-radius: 10px;
    background-color: var(--card-background);
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: fit-content;
    margin: 60px;
}

.scoreboard-board-list {
    border: 3px solid var(--text-primary);
    border-radius: 15px;
    margin-top: 70px;
    padding: 10px;
    height: 100%;
    max-width: 200px;
    align-items: center;
}

#scoreboard-title {
    padding: 0 20px
}

.table {
    display: flex;
    width: 100%;
}

.table-row {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-between;
}

.won {
    color: var(--won);
}

.lost {
    color: var(--lost);
}

.table-row-cell {
    flex: 0 0 50%;
}

#game-buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px;   
}

.flip-card {
    background-color: transparent;
    width: 90px;
    height: 140px;
    perspective: 1000px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.rotate .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    border-radius: 9px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-image: url('/assets/images/card-background.svg');
    background-position: center center;
    background-size: cover;
}

.flip-card-front-image {
    width: 75px;
    height: auto;
    border-radius: 6px;
}
  
.flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    background: var(--card-background);
}
